<div class="board">
    <div class="board_header">
        <div *ngIf="dates"
            class="board_header_today board_tile">
            <div>Сегодня</div>
            <div class="board_header_today_day">{{dates[0].format('D')}}</div>
            <div class="board_header_today_month">{{dates[0].format('MMMM')}}</div>
            <ul *ngIf="birthdays[dates[0].date()]"
                class="board_tile_points">
                <li *ngFor="let birthday of birthdays[dates[0].date()]"
                    [style.background-color]="birthday.Color"
                    class="board_tile_points_li"></li>
            </ul>
        </div>
        <div (click)="TabClick($event, 0)"
            [class.board_header_calendar-selected]="selectedTab===0"
        class="board_header_item board_header_calendar"></div>
        <div (click)="TabClick($event, 1)"
            [class.board_header_birthdays-selected]="selectedTab===1"
            class="board_header_item board_header_birthdays"></div>
    </div>

    <div class="board_body">
        <div class="boardTiles">
            <div *ngFor="let day of dates; let i = index">
                <div *ngIf="i!=0"
                    class="board_tile board_tile_date">
                    <div class="boardHeadTile__day">{{day.format('D')}}</div>
                    <div class="boardHeadTile__month">{{day.format('MMMM')}}</div>
                    <ul *ngIf="birthdays[day.date()]"
                        class="board_tile_points">
                        <li *ngFor="let birthday of birthdays[day.date()]"
                            [style.background-color]="birthday.Color"
                            class="board_tile_points_li"></li>
                    </ul>
                </div>
                <ul *ngIf="birthdays[day.date()]"
                    class="board_employees">
                    <li *ngFor="let birthday of birthdays[day.date()]"
                        class="board_employee">
                        <div class="board_employee_link">
                            <a href="#">
                                <img [src]="birthday.PictureUrl"
                                    class="board_employee_img"  />
                            </a>
                        </div>
                        <div *ngIf="selectedTab===1"
                            class="board_employee_title">
                            <div class="board_employee_title_text">
                                <div class="board_employee_title_first-name">{{birthday.FirstName}}</div>
                                <div>{{birthday.LastName}}&nbsp;{{birthday.MiddleName}}</div>
                            </div>
                            <div class="board_employee_title_btn">
                                <a href="#">
                                    <img src="/assets/img/Icons24/gift-b.svg"  />
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="selectedTab===0"
            class="board_events">
            <div *ngFor="let event of events"
                class="board_event">
                <div class="board_event_img"><img [src]="event.PictureUrl" /></div>
                <div class="board_event_body">
                    <div class="board_event_body_date">{{event.StartDate | date : 'HH:mm'}}</div>
                    <div class="board_event_body_text">{{event.Title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>