<div class="footerLeft">
    <div class="footerLeftContent">
        <div class="footerLeftWIFI">
            <div class="footerLeftWIFI_text">Пароль от <span>WiFi</span> для гостей</div>
            <div class="footerLeftWIFI_password">f435pq7</div>
        </div>
        <div class="footerLeftNavigation">
            <div class="footerLeftLogo">
                <img src="/assets/img/Logo/Interfax-white.svg" />
            </div>
            <nav>
                <a routerLink="/news" routerLinkActive="active">
                    <span>Новости</span></a>
                <a routerLink="/employees" routerLinkActive="active">Сотрудники</a>
                <a routerLink="/employees" routerLinkActive="active">Библиотека</a>
                <a routerLink="/employees" routerLinkActive="active">Заявки</a>
                <a routerLink="/employees" routerLinkActive="active">Сообщения</a>
                <a routerLink="/employees" routerLinkActive="active">Пожелания</a>
            </nav>
        </div>
    </div>
</div>
<div class="footerRight">
    <div class="footerRight_text">Круглосуточная техническая поддержка</div>
    <div class="footerRight_block">
        <div class="footerRight_block_text">
            <p>+7 (495) 777777</p>
            <p>help@interfax.ru</p>
        </div>
    </div>
</div>