<div class="header_logo"><img src="../../assets/img/Icons32/Press-Center.svg" /></div>
<nav class="header_nav">
    <a routerLink="/news"
        routerLinkActive="active"
        class="nav_item nav_item_has-new">
        <div>Новости</div><div class="nav_item_indicator"><span></span></div>
    </a>
    <a routerLink="/employees"
        routerLinkActive="active"
        class="nav_item">
        <div>Сотрудники</div><div class="nav_item_indicator"><span></span></div>
    </a>
    <a routerLink="/employees"
        routerLinkActive="active"
        class="nav_item">
        <div>Библиотека</div><div class="nav_item_indicator"><span></span></div>
    </a>
    <a routerLink="/employees"
        routerLinkActive="active"
        class="nav_item nav_item_has-new">
        <div>Заявки</div><div class="nav_item_indicator"><span></span></div>
    </a>
    <a routerLink="/employees"
        routerLinkActive="active"
        class="nav_item nav_item_has-new">
        <div>Сообщения</div><div class="nav_item_indicator"><span></span></div>
    </a>
    <a routerLink="/employees"
        routerLinkActive="active"
        class="nav_item">
        <div>Пожелания</div><div class="nav_item_indicator"><span></span></div>
    </a>
</nav>
<div class="header_settings">
    <div class="header_settings_search"><img src="/assets/img/Icons16/search-w.svg" /></div>
    <div class="header_settings_alerts"><img src="/assets/img/Icons16/kolokol-w.svg" /></div>
    <div class="header_settings_my-photo ava"><img src="/assets/img/tmp/insh.jpg" /></div>
</div>