  

.board {
    width: 433px;
    max-height: 1100px;
    overflow: hidden;

    top: 130px;
    z-index: 1;
    background: #ffffff;
    position: absolute;
    right: -335px;
    transition: right 0.3s;
    box-shadow: 0 0 20px 3px #8c8c8c;

    &:hover, &_open {
        right: 0;
        transition: right 0.3s;
    }

    &_body{
        display: flex;
    }

    &_header {
        display: flex;
        height: 100px;

        &_item {
        display: inline-block;
        width: 50%;
        height: 100%;
        cursor: pointer;
        }

        &_today {
        color: #3FA2F7;
        border: 1px solid #3FA2F7;
        flex: 0 0 98px;
        height: 98px;

        &_day {
            font-size: 36px;
        }
        }

        &_calendar{
        border-bottom:1px solid #E6ECF1;
        background: url('../assets/img/Icons24/calendar-b.svg') center center no-repeat;

        &-selected{
            background: url('../assets/img/Icons24/calendar-w.svg') center center no-repeat #3FA2F7;
        }
        }

        &_birthdays{
        border-bottom:1px solid #E6ECF1;
        background: url('../assets/img/Icons24/Cake-b.svg') center center no-repeat;

        &-selected{
            background: url('../assets/img/Icons24/Cake-w.svg') center center no-repeat #3FA2F7;
        }
        }


    }

    &_event {
        display: flex;
        padding: 33px 0 45px;

        border-bottom: 1px solid #DDE5EC;

        &:hover{
        background: #F4F7FA;
        }
        &_img {
        margin: 0 12px;
        img{
            width: 20px;
            height: 20px;
        }
        }
        &_body{
        &_date{
            font-size: 16px;
            color: #92949D;
            padding: 5px 0;
        }

        &_text{
            width: 290px;
            font-size: 24px;
            color: #4A4E57;
        }
        }
    }

    &_tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &_date{
        height: 100px;
        border-right:1px solid #E6ECF1;
        width:100px;
        }
        &_points {
        padding: 0;
        margin: 0;
        
        &_li {
            display: inline-block;
            height: 6px;
            width: 6px;
            margin-right: 5px;
            background: #3FA2F7;
            border-radius: 50%;
        }
        }
    }

    &_employees{
        padding: 0;
        margin: 0;
        
        border-bottom:1px solid #E6ECF1;
    }

    &_employee{
        height: 100px;
        display: flex;

        &:last-child &_title{
        border-bottom: 0 none;
        }
        &:hover{
        background: #F4F7FA;
        }
        
        &_date{
        margin-bottom: 100px;
        }
        &_title{
        font-size: 18px;
        width: 355px;
        border-bottom:1px solid #E6ECF1;
        display: flex;

        &_text{
            width: 65%;
            padding: 20px 23px;
        }

        &_btn{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_first-name{
            font-size: 20px;
            font-weight: 600;
        }
        }

        &_link {
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right:1px solid #E6ECF1;
        }

        &_img {
        border-radius: 50%;
        }
    }
    }