footer{
    background: url('../assets/img/bg.jpg') no-repeat center center;
  
    footer-navigation{
      display: flex;
      background: rgba(36,41,53,0.80);
      .footerLeft{
        color: #fff;
        width: 100%;
  
        &Content{
          margin: 0 66px;
        }
  
        &Navigation{
          display: flex;
  
          nav{
            margin: 10px 15px;
            a{
              padding: 39px 13px;
              text-decoration: none;
              color: #01AFAE;
              font-size: 15px;
            }
          }
        }
  
        &WIFI{
          margin: 88px 0 100px 0;
          &_text{
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 1.07px;
            font-weight: lighter;

            > span{
              font-weight: 600;
              font-size: 24px;
              letter-spacing: 0.96px;
            }
          }
          &_password{
            text-align: center;
            padding: 15px 0;
            border: 4px solid #01AFAE;
            width: 257px;
          }
        }
  
        &Logo{
          img{
            width: 104px;
            height: 31px;
          }
        }
      }
  
      .footerRight{
        background: #01AFAE;
        width: 524px;
        flex: 0 0 524px;
        position: relative;
  
        &_text{
          position: absolute;
          top: 67px;
          left: 56px;
          padding: 10px;
          width: 242px;
          font-size: 28px;
          color: #FFFFFF;
          background: #01AFAE;
          text-align: right;
        }
  
        &_block{
          width: 220px;
          height: 220px;
          margin: 74px 0 74px 229px;
          border: 4px solid white;

          &_text{
            margin-top: 140px;

            p{
              padding: 5px 10px;
              color: white;
            }
          }
        }
      }
    }
  }