.header{
    background: url('../assets/img/bg.jpg') no-repeat center center;

    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0;

    top-navigation{
        display: flex;
        height: 100px;
        background: rgba(36,41,53,0.80);
    }

    &_logo{
        margin: 18px 5px 0px 32px;

        img{
            width: 64px;
            height: 64px;
        }
    }
    &_nav{
        display: flex;
        width: 100%;
        .nav_item{
            padding: 39px 35px;
            text-decoration: none;
            color: #01AFAE;
            text-align: center;

            .active{
                color: #FFFFFF;
            }

            :hover{
                color: #FFFFFF;
            }

            &_indicator{
                display: none;
                span{
                    display: inline-block;
                    margin-top: 0px;
                    width: 4px;
                    height: 4px;
                    background: #fff;
                    border-radius: 50%;
                }
            }
        }

        .nav_item_has-new .nav_item_indicator{
            display: block;
        }
    }

    &_settings{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 41px;
        
        &_alerts{
            margin-left: 41px;
        }
        &_my-photo{
            margin-left: 56px;
            img{
                width: 48px;
                height: 48px;
            }
        }
    }
}