.page_news {
    .news_item {
        display: flex;

        &_pictures{
            margin: 30px 0 0 0;
            flex: 0 0 376px;

            img{
                margin: 0 0 32px 0;
                width: 376px;
                height: 376px;
            }
        }

        &_body{
            margin: 108px 0 0 124px;
        }

        &_data{
            font-size: 16px;
            color: #92949D;
            line-height: 35.6px;
        }

        &_title{
            margin: 0 0 20px 0;
            font-weight: bold;
            font-size: 48px;
            color: #242935;
            line-height: 62px;
        }

        &_preview{
            margin: 20px 0 22px 0;
            font-style: italic;
            font-size: 26px;
            color: #4A4E57;
            line-height: 35.6px;
        }

        &_text{
            margin: 22px 0 40px 0;
            font-size: 16px;
            color: #242935;
            letter-spacing: 0;
            line-height: 25.6px;
        }
    }
}