@import 'variables';
@import 'reset';
@import 'header';
@import 'footer';
@import 'board';

@import 'page-news';

body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #242935;
    letter-spacing: 0;
    line-height: 25.6px;
    overflow-x: hidden;
    background: #F4F7FA;
}

.content{
  overflow: hidden;
  width: 100%;
  display: block;

  &_inner{
    margin: 0 132px;
  }
}

.ava, .ava img{
  border-radius: 50%;
}