<header class="header">
  <top-navigation></top-navigation>
</header>
<content class="content">
  <div class="content_inner">
    <router-outlet></router-outlet>
    <board></board>
  </div>
</content>
<footer class="footer">
  <footer-navigation></footer-navigation>
</footer>