<div class="news_item">
    <div class="news_item_pictures">
        <img *ngFor="let picture of item.Pictures" [src]="picture" />
    </div>
    <div class="news_item_body">
        <div class="news_item_data">{{item.PublishDate | date : 'dd.MM.yyyy'}}</div>
        <div class="news_item_title">{{item.Title}}</div>
        <div class="news_item_preview">{{item.Preview}}</div>
        <div class="news_item_text">
            <span>{{item.City}}.</span>&nbsp;
            <span>{{item.PublishDate | date : 'd MMMM'}}.</span>&nbsp;
            <span>{{item.Source}}</span>&nbsp;
            <span>-</span>&nbsp;
            <span [innerHTML]="item.Text | safeHtml"></span>
        </div>
    </div>
</div>